{
    "openapi": "3.0.2",
    "info": {
        "title": "PODFather API",
        "description": "The PODFather API connects you to the data you need to create jobs in the [PODFather](https://thepodfather.com) system.<br><br>The API also allows you to check the state of various resources within the system, such as customers/sites/drivers. See the list on the left for the available API endpoints, and the code on the right for some examples on how to use them.<br><br>If you have any questions, or ideas - contact your account manager and they'll be able to assist you with your enquiry.",
        "contact": {
            "email": "helpdesk@podfather.com"
        },
        "version": "1.1.0"
    },
    "servers": [
        {
            "url": "https://external-api.aws.thepodfather.com/",
            "description": "Main (production) server"
        }
    ],
    "security": [
        {
            "ApiKeyHeader": []
        }
    ],
    "paths": {
        "/sample": {
            "post": {
                "summary": "Create sample",
                "requestBody": {
                    "required": true,
                    "description": "Schema to create a sample",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "anyOf": [
                                    {
                                        "properties": {
                                            "alpha": {
                                                "type": "string"
                                            },
                                            "bravo": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    {
                                        "properties": {
                                            "charlie": {
                                                "type": "string"
                                            },
                                            "delta": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        }
    }
}